{
  font-family: sans-serif;
  padding: 20px;
  background-color: burlywood;
}
h1 {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 15px;
}
h2 {
  font-size: 30px;
}
h1,
h2,
h3,
p {
  text-align: center;
}
figure {body
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  unicode-bidi: isolate;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
li,
ul {
  display: block;
  text-align: center;
}
figcaption {
  text-align: center;
}
hr {
height: 2px;
background-color: brown;
border-color: brown;
}
.bottom-line {
margin-top: 25px;
}
footer {
font-size: 14px;
}
h1,h2 {
font-family: Impact,serif;
}
figcaption {
font-family: Impact,serif;
}
