body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#navbar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

#navbar header {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.nav-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #555;
}

.main-section {
    padding: 20px;
}

@media (min-width: 768px) {
    #navbar {
        width: 250px;
    }

    #main-doc {
        margin-left: 250px;
    }
}
